.breadcrumbs {
  margin-top: 32px;
  margin-bottom: 12px;
  display: flex;
  align-items: center;
  flex-wrap: wrap; }
  .breadcrumbs__item {
    font-size: 14px;
    position: relative;
    display: inline-flex;
    align-items: center;
    color: #b5babc; }
    .breadcrumbs__item::after {
      content: url("../img/bread-frame.svg");
      position: relative;
      top: 2px;
      margin: 0 8px; }
    .breadcrumbs__item-link {
      color: #b5babc;
      transition: 200ms ease all; }
      .breadcrumbs__item-link:hover {
        color: #232729; }
    .breadcrumbs__item:last-child::after {
      content: none; }

.category {
  padding-top: calc(104px - 32px); }

.category-title {
  margin-bottom: 20px; }

.category-tags {
  padding-bottom: 32px; }
  .category-tags__container {
    display: flex;
    align-items: flex-start; }
  .category-tags__group {
    margin-right: 48px;
    min-width: 15%; }
    .category-tags__group:last-child {
      margin-right: 0;
      flex: 1; }
    .category-tags__group:nth-child(1) {
      width: 15%; }
    .category-tags__group:nth-child(2) {
      width: 16%; }
    .category-tags__group--show .category-tags__item--hidden {
      display: inline-flex; }
    .category-tags__group--show .category-tags__show-more {
      display: none; }
    .category-tags__group--show .category-tags__hide {
      display: block; }
  .category-tags__title {
    color: #232729;
    font-size: 14px;
    margin-bottom: 8px; }
    .category-tags__title--mob {
      display: none; }
  .category-tags__item {
    font-size: 14px;
    padding: 8px 12px;
    border: 1px solid #ea570f;
    transition: 200ms ease all;
    border-radius: 8px;
    display: inline-flex;
    margin-right: 6px;
    margin-bottom: 6px; }
    .category-tags__item:hover {
      color: #fff;
      background: #ea570f; }
    .category-tags__item--hidden {
      display: none; }
  .category-tags__show-more, .category-tags__hide {
    margin-top: 6px; }
    .category-tags__show-more span, .category-tags__hide span {
      cursor: pointer;
      color: #778085;
      display: inline-flex;
      align-items: center; }
      .category-tags__show-more span svg, .category-tags__hide span svg {
        margin-left: 4px; }
      .category-tags__show-more span:hover, .category-tags__hide span:hover {
        color: #232729; }
        .category-tags__show-more span:hover svg path, .category-tags__hide span:hover svg path {
          stroke: #ea570f; }
  .category-tags__hide {
    display: none; }

.category-products {
  padding: 32px 0;
  background: #f4f4f4; }
  .category-products .catalog-tabs__group {
    margin-bottom: 64px; }
    @media (max-width: 767px) {
      .category-products .catalog-tabs__group {
        margin-bottom: 48px; } }
  .category-products__title {
    margin-bottom: 24px; }

.category-list {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 16px;
  margin-bottom: 32px; }

.category-item {
  transition: 200ms ease all;
  background: #fff;
  display: flex;
  flex-direction: column;
  text-align: center;
  border-radius: 8px; }
  .category-item__text {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 0 20px 24px; }
  .category-item img {
    width: 100%;
    height: 100%;
    max-height: 240px;
    object-fit: cover;
    object-position: center;
    border-radius: 8px 8px 0 0;
    margin-bottom: 20px; }
  .category-item__category {
    color: #5c6467;
    font-size: 12px;
    text-transform: uppercase; }
  .category-item__title {
    font-size: 20px;
    padding: 8px 0 12px; }
  .category-item__art {
    color: #5c6467;
    font-size: 12px; }
  .category-item:hover {
    box-shadow: 0 4px 16px 0 rgba(35, 39, 41, 0.08); }

.pagination {
  display: flex;
  align-items: center;
  justify-content: center; }
  .pagination__item {
    width: 37px;
    height: 37px;
    border-radius: 8px;
    border: 1px solid transparent;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 2px; }
    .pagination__item--active {
      border-color: #ea570f; }
      .pagination__item--active:hover {
        border-color: #ea570f; }
    .pagination__item:hover {
      border-color: #b5babc; }
  .pagination__nav {
    width: 37px;
    height: 37px;
    display: flex;
    align-items: center;
    justify-content: center; }
    .pagination__nav--disabled svg path {
      stroke: #b5babc; }
  .pagination span {
    width: 37px;
    height: 37px;
    display: flex;
    align-items: center;
    justify-content: center; }

.category-projects {
  padding-top: 80px; }
  .category-projects__slider {
    overflow: hidden;
    margin-top: 32px; }
  .category-projects__slide {
    border-radius: 8px;
    position: relative;
    padding-bottom: 42.17%; }
    .category-projects__slide::before {
      content: "";
      width: 100%;
      height: 100%;
      position: absolute;
      top: 0;
      left: 0;
      z-index: 2;
      background: #303030;
      opacity: 0.16;
      border-radius: 8px; }
    .category-projects__slide img {
      border-radius: 8px;
      position: absolute;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      object-fit: cover;
      object-position: center; }
  .category-projects .swiper__pagination {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 24px; }
    .category-projects .swiper__pagination .swiper-pagination-bullet {
      width: 12px;
      height: 12px;
      border: 1px solid #ea570f;
      background: none;
      transition: 200ms ease all;
      opacity: 1;
      margin: 0 6px; }
      .category-projects .swiper__pagination .swiper-pagination-bullet-active {
        background: #ea570f; }
      .category-projects .swiper__pagination .swiper-pagination-bullet:hover {
        border-width: 2px; }

.category .seo-text {
  padding-top: 80px;
  padding-bottom: 80px; }
  .category .seo-text .seo-text__main {
    margin-bottom: 0; }
@media (max-width: 767px) {
  .category .catalog .seo-text {
    padding-top: 64px;
    padding-bottom: 64px; } }

@media (max-width: 989px) {
  .category-tags__container {
    flex-wrap: wrap; }

  .category-tags__group {
    margin-bottom: 16px; }
    .category-tags__group:last-child {
      margin-bottom: 0; }
    .category-tags__group:nth-child(1) {
      width: calc(50% - 24px); }
    .category-tags__group:nth-child(2) {
      width: calc(50% - 24px);
      margin-right: 0; }
    .category-tags__group:nth-child(3) {
      width: 100%; }

  .category-item img {
    max-height: 130px;
    margin-bottom: 12px; }

  .category-item__category,
  .category-item__art {
    font-size: 8px; }

  .category-item__title {
    font-size: 16px;
    padding: 4px 0 8px; }

  .category-item__text {
    padding: 0 8px 16px; }

  .category-projects__slide {
    padding-bottom: 82%; } }
@media (max-width: 767px) {
  .category-tags {
    background: #f4f4f4;
    padding-top: 20px;
    padding-bottom: 0; }
    .category-tags__group {
      margin-bottom: 4px;
      width: 100% !important;
      margin-right: 0; }
    .category-tags__title {
      display: none; }
      .category-tags__title--mob {
        display: flex;
        align-items: center;
        justify-content: space-between;
        font-size: 14px;
        border-radius: 8px;
        padding: 12px;
        background: #fff; }
        .category-tags__title--mob--active svg {
          transform: rotate(180deg); }
    .category-tags__holder {
      border-radius: 8px;
      padding: 12px;
      background: #fff;
      margin-bottom: 12px;
      display: none; }
    .category-tags__show-more, .category-tags__hide {
      display: none; }
    .category-tags__item--hidden {
      display: inline-flex; }

  .category-products {
    padding: 20px 0 24px; }

  .category-list {
    grid-template-columns: repeat(2, 1fr); }

  .category-item__title {
    font-size: 14px; }

  .category-projects {
    padding-top: 64px; } }
@media (max-width: 479px) {
  .breadcrumbs__item::after {
    margin: 0 4px; } }
.product {
  padding-top: calc(104px - 32px); }

.product-main {
  display: flex;
  justify-content: space-between; }

.product-slider {
  width: 100%;
  max-width: 54%;
  margin-right: 64px;
  background: #fff;
  position: relative;
  overflow: hidden; }
  .product-slider__nav {
    position: absolute;
    z-index: 2;
    top: calc(50% - 52px); }
    .product-slider__nav--prev {
      left: 20px; }
    .product-slider__nav--next {
      right: 20px; }
  .product-slider__slide {
    position: relative;
    padding-bottom: 67%; }
    .product-slider__slide img {
      position: absolute;
      width: 100%;
      height: 100%;
      left: 0;
      top: 0;
      object-fit: contain;
      object-position: center; }
  .product-slider .swiper__pagination {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 24px;
    display: none; }
    .product-slider .swiper__pagination .swiper-pagination-bullet {
      width: 12px;
      height: 12px;
      border: 1px solid #ea570f;
      background: none;
      transition: 200ms ease all;
      opacity: 1;
      margin: 0 6px; }
      .product-slider .swiper__pagination .swiper-pagination-bullet-active {
        background: #ea570f; }
      .product-slider .swiper__pagination .swiper-pagination-bullet:hover {
        border-width: 2px; }

.product-main-info {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start; }
  .product-main-info__subtitle {
    font-size: 24px;
    margin-bottom: 16px; }
  .product-main-info__title {
    margin-bottom: 24px;
    margin-top: 16px; }

.product-option {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 16px;
  margin-bottom: 16px; }
  .product-option__title {
    color: #5c6467;
    font-size: 16px; }
  .product-option__value {
    font-size: 16px; }

.product-tips {
  display: flex;
  align-items: center;
  gap: 20px;
  margin-top: 32px;
  margin-bottom: 58px; }

.product-button-holder {
  display: flex;
  border-radius: 8px;
  color: #fff;
  background: #043f5c;
  padding: 24px;
  gap: 35px;
  align-items: center; }

.product-main-button {
  flex-shrink: 0; }

.product-button-desc {
  font-size: 14px; }

.product-info {
  padding-top: 48px; }
  .product-info__title {
    margin-bottom: 24px; }
  .product-info__container {
    max-width: 935px; }
  .product-info p {
    font-size: 16px;
    line-height: 130%;
    margin-bottom: 16px;
    padding: 0;
    margin-top: 0; }
  .product-info ul {
    line-height: 130%;
    padding-left: 20px;
    margin-bottom: 16px; }
    .product-info ul li {
      list-style: disc; }
  .product-info ol {
    line-height: 130%;
    padding-left: 20px;
    margin-bottom: 16px; }
    .product-info ol li {
      list-style: decimal; }
  .product-info__note {
    color: #5c6467;
    font-size: 14px;
    line-height: 120%; }

.product-table {
  margin-top: 48px;
  margin-bottom: 48px; }
  .product-table__inner {
    overflow-x: auto;
    padding-bottom: 20px; }
    .product-table__inner--hidden {
      display: none; }
  .product-table__nav {
    margin-bottom: 24px;
    display: flex;
    align-items: flex-start;
    gap: 16px; }
    .product-table__nav-item {
      font-size: 20px;
      line-height: 120%;
      color: #b5babc;
      padding-bottom: 4px;
      border-bottom: 2px solid transparent;
      transition: 200ms ease all; }
      .product-table__nav-item--active {
        border-color: #ea570f;
        color: #232729; }
      .product-table__nav-item:hover {
        border-color: #ea570f;
        color: #232729; }
  .product-table__title {
    margin-bottom: 24px; }
  .product-table__item {
    display: inline-flex;
    flex-direction: column;
    border: 1px solid #e6ecef; }
    .product-table__item-row {
      display: flex;
      border-bottom: 1px solid #e6ecef; }
      .product-table__item-row:last-child {
        border-bottom: none; }
    .product-table__item-column {
      min-width: 112px;
      width: 112px;
      padding: 12px 24px; }
      .product-table__item-column:first-child {
        min-width: 330px;
        width: 330px; }
      .product-table__item-column:nth-child(2n) {
        background: #f6f6f6; }

.product-docs__title {
  margin-bottom: 24px; }
.product-docs__items {
  display: flex;
  align-items: flex-start;
  gap: 32px; }
.product-docs__item-title {
  margin: 12px 0 4px; }
.product-docs__item-link {
  font-size: 14px;
  color: #ea570f;
  text-decoration: underline; }
  .product-docs__item-link:hover {
    text-decoration: none; }

@media (max-width: 989px) {
  .product-main {
    flex-direction: column; }

  .product-slider {
    max-width: 100%;
    margin-bottom: 40px;
    margin-right: 0; }

  .product-button-holder {
    display: flex;
    align-items: center;
    justify-content: space-between; }

  .product-button-desc {
    max-width: 55.5%;
    margin-right: 20px; }

  .product-main-button {
    flex: 1;
    justify-content: center; } }
@media (max-width: 767px) {
  .product-slider__nav {
    display: none; }

  .product-slider .swiper__pagination {
    display: flex;
    margin-top: 12px; }

  .product-option__title {
    font-size: 14px; }

  .product-option__value {
    font-size: 14px; }

  .product-option {
    margin-bottom: 12px; }

  .product-tips {
    margin-top: 24px;
    margin-bottom: 40px;
    gap: 16px; }
    .product-tips img {
      max-width: 32px; }

  .product-button-holder {
    flex-direction: column;
    align-items: flex-start; }

  .product-button-desc {
    max-width: 100%;
    margin-right: 0;
    margin-bottom: 16px;
    font-size: 18px; }

  .product-main-button {
    width: 100%; }

  .product-info {
    padding-top: 64px; }

  .product-info__title {
    margin-bottom: 16px; }

  .product-info p {
    margin-bottom: 12px; }

  .product-table__nav-item {
    font-size: 18px; }

  .product-table__nav {
    margin-bottom: 16px; }

  .product-table__item-column {
    font-size: 14px;
    padding: 8px 13px; }

  .product-table__item-column {
    min-width: 72px;
    width: 72px; }

  .product-table__item-column:first-child {
    min-width: 186px;
    width: 186px; }

  .product-table {
    margin-bottom: 28px; }

  .product-docs__items {
    flex-direction: column;
    gap: 16px; }

  .product-docs__item {
    display: flex;
    align-items: center; }
    .product-docs__item img {
      margin-right: 12px; }

  .product-docs__item-title {
    margin: 0; } }
.furniture .about {
  padding-top: 80px;
  padding-bottom: 80px; }
.furniture .about__title {
  max-width: 100%; }
.furniture .about__description {
  color: #5c6467; }
.furniture .production__swiper-nav-item {
  top: calc(50% - 28px); }

.furniture-info {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-bottom: 80px; }

.furniture-group {
  width: 42.169%; }

.furniture-slider {
  width: 49.398%;
  overflow: hidden;
  position: relative; }

.furniture__slide {
  position: relative;
  width: 100%;
  height: 424px; }
  .furniture__slide img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 8px; }

.furniture__left {
  left: 20px; }

.furniture__right {
  right: 20px;
  transform: rotate(180deg); }

.furniture-video {
  position: relative;
  border-radius: 8px;
  padding-bottom: 40.354%;
  margin-bottom: 80px;
  width: 100%; }
  .furniture-video__cover {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    display: flex;
    align-items: center;
    justify-content: center; }
    .furniture-video__cover img {
      position: absolute;
      width: 100%;
      height: 100%;
      left: 0;
      top: 0;
      object-fit: cover;
      border-radius: 8px; }
  .furniture-video__play {
    position: absolute;
    z-index: 20;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 96px;
    height: 96px;
    border-radius: 50%;
    background: rgba(255, 255, 255, 0.64);
    border: 2px solid rgba(255, 255, 255, 0.2); }
  .furniture-video iframe {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
    border-radius: 8px;
    display: none; }

.furniture-catalog {
  background: #f4f4f4;
  padding: 80px 0; }
  .furniture-catalog .title {
    max-width: 800px; }

.furniture-catalog__item-btn {
  padding: 12px 20px; }

.furniture-catalog__grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 16px;
  margin-top: 40px;
  margin-bottom: 24px; }

.furniture-catalog__item {
  background: #fff;
  border-radius: 8px; }

.furniture-catalog__item {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between; }
  .furniture-catalog__item img {
    height: 320px;
    width: auto;
    object-fit: cover;
    object-position: center;
    margin: 0 auto 24px; }

.furniture-catalog__item-info {
  padding: 0 24px 24px; }

.furniture-catalog__item-title {
  font-size: 20px;
  line-height: 120%;
  margin-bottom: 12px; }

.furniture-catalog__item-desc {
  font-size: 16px;
  line-height: 130%;
  margin-bottom: 16px;
  color: #5c6467; }

.btn-holder {
  text-align: center; }

.furniture-gallery {
  padding-top: 80px;
  padding-bottom: 80px; }
  .furniture-gallery .title {
    max-width: 675px; }

.furniture-gallery__header {
  display: flex;
  align-items: flex-start;
  gap: 16px;
  margin-top: 40px;
  margin-bottom: 24px; }

.furniture-gallery__item {
  transition: 300ms ease all;
  border-bottom: 2px solid transparent;
  padding-bottom: 4px;
  font-size: 20px;
  line-height: 120%;
  color: #b5babc; }
  .furniture-gallery__item:hover {
    color: #232729; }
  .furniture-gallery__item--active {
    border-color: #ea570f;
    color: #232729; }

.furniture-gallery__box {
  display: flex;
  align-items: flex-start;
  flex-wrap: wrap;
  justify-content: space-between; }
  .furniture-gallery__box img {
    display: block;
    object-fit: cover;
    object-position: center;
    margin-bottom: 16px;
    width: 32.531%; }
    .furniture-gallery__box img:nth-child(1) {
      width: 24.097%; }
    .furniture-gallery__box img:nth-child(3) {
      width: 24.097%; }
    .furniture-gallery__box img:nth-child(2) {
      width: 49.398%; }

.furniture-gallery__box-slider {
  display: none; }

.furniture-gallery__tab {
  display: none; }
  .furniture-gallery__tab:first-child {
    display: block; }

.furniture-steps {
  padding: 80px 0;
  background: #f4f4f4; }
  .furniture-steps .step {
    margin-top: 0; }

.furniture-presentation {
  padding-top: 80px;
  padding-bottom: 80px; }
  .furniture-presentation__header {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    margin-bottom: 48px; }
  .furniture-presentation .desc {
    max-width: 33.5%; }

.furniture-presentation-group {
  max-width: 50%; }

.furniture-presentation__grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 16px; }

.furniture-presentation__item {
  position: relative;
  border-radius: 8px;
  height: 424px;
  padding: 24px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-start; }
  .furniture-presentation__item img {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    object-fit: cover;
    object-position: center;
    border-radius: 8px; }
  .furniture-presentation__item .btn-arrow {
    position: relative;
    z-index: 2;
    padding: 12px 20px; }

.furniture-presentation__label {
  position: absolute;
  z-index: 3;
  top: 0;
  left: 0;
  border-radius: 8px 0;
  padding: 12px;
  background: #ea570f;
  font-size: 16px;
  line-height: 130%;
  color: #fff;
  text-transform: uppercase; }

.furniture-presentation__item-title {
  position: relative;
  z-index: 2;
  font-size: 24px;
  line-height: 120%;
  color: #fff; }

.furniture-presentation__item-desc {
  font-size: 14px;
  line-height: 120%;
  color: #fff;
  position: relative;
  z-index: 2;
  margin: 8px 0 16px; }

.furniture .production {
  margin-top: 0;
  padding-top: 80px;
  padding-bottom: 80px; }
.furniture .seo-text {
  padding-bottom: 80px; }

@media (max-width: 1199px) {
  .furniture-catalog__item img {
    height: 240px; }

  .furniture-gallery__header {
    flex-wrap: wrap; }

  .furniture-presentation__item {
    height: 350px; } }
@media (max-width: 989px) {
  .furniture-info {
    flex-direction: column;
    padding-bottom: 16px; }

  .furniture-group {
    width: 100%; }

  .furniture-slider {
    width: 100%;
    margin-top: 40px; }

  .furniture-video {
    padding-bottom: 58.89%; }

  .furniture-catalog__grid {
    grid-template-columns: repeat(2, 1fr); }

  .furniture-catalog__item img {
    height: 260px; }

  .furniture-gallery__box img:nth-child(1) {
    width: 34.445%; }

  .furniture-gallery__box img {
    height: 360px;
    border-radius: 8px;
    width: 48.89%; }

  .furniture-gallery__box img:nth-child(2) {
    width: 63.334%; }

  .furniture-gallery__box img:nth-child(3) {
    width: 63.334%; }

  .furniture-gallery__box img:nth-child(4) {
    width: 34.445%; }

  .furniture-presentation__header {
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 40px; }

  .furniture-presentation-group {
    max-width: 100%;
    margin-bottom: 24px; }

  .furniture-presentation .desc {
    max-width: 100%; }

  .furniture-presentation__grid {
    grid-template-columns: repeat(1, 1fr); }

  .furniture-presentation__item {
    height: 424px; } }
.furniture .swiper__pagination {
  display: none; }

@media (max-width: 767px) {
  .furniture .about {
    padding-top: 64px;
    padding-bottom: 64px; }

  .furniture .production__swiper-nav-item {
    display: none; }

  .furniture .swiper__pagination {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 16px; }
    .furniture .swiper__pagination .swiper-pagination-bullet {
      width: 16px;
      height: 16px;
      background: none;
      border: 2px solid #b5babc;
      opacity: 1;
      margin: 0 4px; }
      .furniture .swiper__pagination .swiper-pagination-bullet-active {
        border-color: #ea570f;
        background: #ea570f; }

  .furniture-info {
    padding-bottom: 40px; }

  .furniture-video {
    padding-bottom: 54.89%;
    margin-bottom: 64px; }

  .furniture-catalog__grid {
    grid-template-columns: repeat(1, 1fr);
    grid-gap: 8px; }

  .furniture-catalog__item img {
    height: 236px;
    margin-bottom: 16px; }

  .furniture-catalog__item-title {
    font-size: 18px;
    margin-bottom: 8px; }

  .furniture-catalog__item-desc {
    font-size: 14px; }

  .furniture-catalog__item-info {
    width: 100%;
    padding: 0 16px 16px; }

  .furniture-catalog__item-btn {
    width: 100%;
    text-align: center;
    justify-content: center; }

  .furniture-catalog {
    padding: 48px 0; }

  .furniture-gallery__header {
    flex-wrap: nowrap;
    overflow: auto;
    -ms-overflow-style: none;
    scrollbar-width: none; }

  .furniture-gallery__header::-webkit-scrollbar {
    width: 0px;
    background: transparent;
    display: none; }

  .furniture-gallery__box {
    display: none; }

  .furniture-gallery__item {
    flex-shrink: 0;
    font-size: 18px; }

  .furniture-gallery__box-slider {
    display: block;
    overflow: hidden; }
    .furniture-gallery__box-slider .swiper-slide {
      height: 440px;
      object-fit: cover;
      border-radius: 8px;
      object-fit: cover; }

  .furniture-steps {
    padding: 48px 0; }

  .furniture-presentation,
  .furniture .production {
    padding-top: 48px;
    padding-bottom: 48px; }

  .furniture-presentation__item {
    height: 400px; }

  .furniture-presentation__item-title {
    font-size: 20px; }

  .furniture-presentation__item .btn-arrow {
    width: 100%;
    justify-content: center; }

  .furniture .seo-text {
    padding-bottom: 64px; } }
@media (max-width: 479px) {
  .furniture__slide {
    height: 360px; }

  .furniture-video {
    padding-bottom: 75%; }

  .furniture-video__play {
    width: 64px;
    height: 64px; }
    .furniture-video__play svg {
      width: 24px; } }
.furniture__images {
  display: none; }

.fancybox__caption {
  font-size: 32px; }
  @media (max-width: 989px) {
    .fancybox__caption {
      font-size: 24px; } }
  @media (max-width: 767px) {
    .fancybox__caption {
      font-size: 16px; } }

.furniture .hero--p::before {
  content: none; }

.furniture .hero--p {
  height: 784px;
  padding-bottom: 0; }
  @media (max-width: 989px) {
    .furniture .hero--p {
      height: 880px; } }
  @media (max-width: 767px) {
    .furniture .hero--p {
      height: 640px; }
      .furniture .hero--p .hero__swiper-wrapper-slide-text {
        padding-bottom: 32px; } }

@media (max-width: 767px) {
  .btn-holder .btn {
    width: 100%;
    justify-content: center; }

  .furniture .production__title {
    margin-bottom: 24px; }
  .furniture .production__group {
    margin-top: 24px; }
  .furniture .production__btns {
    margin-top: 16px;
    padding-top: 0; } }
@media (max-width: 1919px) {
  .product-button-holder {
    gap: 20px; } }
@media (max-width: 1199px) {
  .product-button-holder {
    flex-direction: column; }

  .product-main-button {
    width: 100%;
    justify-content: center;
    flex-wrap: wrap; }

  .product-button-desc {
    font-size: 16px;
    margin-bottom: 0; } }
@media (max-width: 767px) {
  .product-button-holder {
    padding: 16px;
    width: 100%;
    gap: 16px; }

  .product-button-desc {
    font-size: 16px;
    margin-bottom: 0; } }
.own-production .hero--p {
  max-height: 480px;
  padding-bottom: 40px; }
.own-production .hero--p .hero__title {
  margin-bottom: 0; }
.own-production .furniture-gallery {
  padding-top: 0; }
.own-production .furniture-gallery__tab {
  margin-top: 40px;
  display: block; }
.own-production .btn-holder {
  margin-top: 40px; }
.own-production .catalog-form {
  margin-top: 0; }

.own-services {
  padding: 80px 0;
  background: #f4f4f4; }
  .own-services .title {
    max-width: 896px; }

.services-grid {
  margin-top: 32px;
  display: flex; }

.services-nav {
  min-width: 432px;
  width: 432px;
  margin-right: 16px;
  background: #fff;
  border-radius: 8px;
  padding: 32px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 24px; }
  .services-nav__item {
    font-weight: 400;
    font-size: 20px;
    line-height: 120%;
    color: #5c6467;
    transition: 200ms ease all;
    display: inline-flex;
    align-items: center;
    position: relative; }
    .services-nav__item::before {
      content: "";
      width: 4px;
      height: 100%;
      position: absolute;
      left: 0;
      background: #ea570f;
      opacity: 0; }
    .services-nav__item--active {
      color: #ea570f;
      padding-left: 16px; }
      .services-nav__item--active::before {
        opacity: 1; }
    .services-nav__item:hover {
      color: #ea570f; }

.services-tabs {
  flex: 1;
  background: #fff;
  border-radius: 8px;
  padding: 32px 40px 40px; }

.services-tab {
  display: none; }
  .services-tab:first-child {
    display: block; }
  .services-tab__title {
    font-size: 24px;
    line-height: 120%;
    padding-bottom: 24px; }
  .services-tab__grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-column-gap: 16px;
    grid-row-gap: 20px;
    margin-bottom: 24px; }
    .services-tab__grid-item {
      display: flex;
      align-items: flex-start;
      gap: 16px; }
    .services-tab__grid-num {
      font-size: 14px;
      line-height: 120%;
      color: #ea570f; }
    .services-tab__grid-title {
      line-height: 130%;
      margin-bottom: 8px; }
    .services-tab__grid-desc {
      font-size: 14px;
      line-height: 120%;
      color: #5c6467; }
  .services-tab .services-list {
    border-radius: 8px;
    padding: 20px;
    background: #043f5c;
    color: #fff; }
    .services-tab .services-list__title {
      margin-bottom: 8px; }
    .services-tab .services-list ul {
      font-size: 14px;
      padding-left: 20px;
      margin-bottom: 24px; }
      .services-tab .services-list ul li {
        color: #e6ecef;
        list-style: disc;
        line-height: 120%;
        margin-bottom: 6px; }

.production-category {
  padding: 80px 0; }
  .production-category .title {
    max-width: 672px;
    margin-bottom: 40px; }
  .production-category__grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 16px; }
  .production-category__item {
    position: relative;
    height: 240px;
    border-radius: 8px;
    display: flex;
    align-items: flex-end;
    padding: 16px; }
    .production-category__item img {
      position: absolute;
      height: 100%;
      width: 100%;
      left: 0;
      top: 0;
      object-fit: cover;
      object-position: center;
      border-radius: 8px; }
    .production-category__item span {
      position: relative;
      z-index: 2;
      color: #fff;
      font-size: 24px;
      line-height: 120%; }

.production-slider {
  width: 49.398%;
  min-width: 49.398%;
  overflow: hidden;
  position: relative; }
  .production-slider .production__swiper-nav-item {
    top: calc(50% - 18px); }

.production-info {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  margin-bottom: 100px; }
  .production-info--reverse {
    flex-direction: row-reverse; }

.production-info__group {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 24px;
  margin-top: 46px; }

.production-info__item {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 8px;
  position: relative;
  padding-left: 24px; }
  .production-info__item::before {
    content: "";
    width: 2px;
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    background: #ea570f; }

.production-info__pre-title {
  font-size: 14px;
  line-height: 120%;
  color: #5c6467; }

.production-info__val {
  font-size: 32px;
  line-height: 120%; }
  .production-info__val--sm {
    font-size: 24px; }

/*# sourceMappingURL=category.css.map */
