.category-banner--stantions {
  padding: 40px;

  .category-banner__container {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    flex-direction: column;
    padding: 40px;
    height: 360px;
    position: relative;
    .category-banner__img {
      position: absolute;
      height: 100%;
      width: 100%;
      border-radius: 8px;
      left: 0;
      top: 0;
      &::before {
        content: "";
        width: 100%;
        height: 100%;
        background: rgba(0, 0, 0, 0.5);
        position: absolute;
        left: 0;
        top: 0;
        z-index: 1;
        border-radius: 8px;
      }
      img {
        width: 100%;
        height: 100%;
        border-radius: 8px;
      }
    }
    .category-title {
      position: relative;
      z-index: 2;
      color: #fff;
      font-weight: 500;
      font-size: 32px;
      text-transform: uppercase;
    }
    .category__desc {
      font-size: 24px;
      color: #fff;
      position: relative;
      z-index: 2;
    }
  }
}

.stantions__brands {
  background: #f4f4f4;
  padding-top: 232px;
  margin-top: -200px;
  padding-bottom: 84px;

  &-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 16px;
  }
}

.stantions__brand {
  background-color: #fff;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  padding: 32px 32px 0 40px;
  gap: 20px;
  overflow: hidden;
  transition: 200ms ease all;

  &-header {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    gap: 20px;
    width: 100%;
  }

  &-link svg {
    transform: rotate(-40deg);
    transition: 200ms ease all;
    width: 24px;
    height: 24px;
  }

  &-title {
    font-size: 32px;
    font-weight: 500;
    margin-bottom: 12px;
  }

  &-desc {
    color: #5c6467;
    font-size: 16px;
  }

  &-info {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    gap: 30px;
    width: 100%;
    img {
      margin-right: -40px;
    }
  }

  &-count {
    color: #ea570f;
    font-size: 16px;
    padding-bottom: 40px;
  }

  &:hover {
    box-shadow: 0px 4px 16px rgba(0, 0, 0, 0.1);
    .stantions__brand-link svg {
      transform: rotate(0deg);
    }
  }
}

.category--stantions {
  .step {
    margin-top: 80px;
    margin-bottom: 80px;
  }
}

.category--brand {
  background: #fff;
  .hero {
    height: 520px;
    margin-top: 32px;
  }
  .hero__swiper-wrapper-slide-text {
    padding: 0;
  }
  .hero__swiper-wrapper-slide-text-title {
    font-size: 48px;
    font-weight: 500;
    text-transform: uppercase;
  }
  .hero__swiper-wrapper-slide-text-desc {
    font-size: 32px;
    text-transform: none;
    font-weight: 400;
    display: inline-block;
    margin: 8px 0 32px;
  }
  .hero__btn {
    font-size: 16px;
    text-transform: none;
    line-height: 0;
  }

  .hero__swiper-wrapper-slide {
    padding: 40px;
    border-radius: 8px;
  }
  .slider-pagination__items {
    padding-right: 40px;
  }

  .hero__swiper-wrapper-slide-bg-image,
  .hero__swiper-wrapper-slide-bg::before {
    border-radius: 8px;
  }

  .step__desc {
    margin-top: 16px;
    margin-bottom: 0;
  }

  .step {
    align-items: center;
  }

  .design-video {
    margin-top: 48px;
    margin-bottom: 80px;
  }

  .catalog-form {
    margin-top: 0;
  }

  .step__item-image {
    border-radius: 8px;
  }
}

.stantions-models {
  padding: 80px 0;
  background: #f4f4f4;
  .title {
    max-width: 768px;
  }

  &__items {
    margin-top: 48px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 16px;
    grid-row-gap: 40px;
    grid-auto-rows: 1fr;
  }

  &__item {
    display: flex;
    flex-direction: column;
  }

  &__item-holder {
    background: #fff;
    border-radius: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 24px;
    position: relative;
    transition: 200ms ease all;
    flex: 1;
    img {
      max-width: 100%;
    }
    svg {
      position: absolute;
      top: 24px;
      right: 24px;
      width: 20px;
      height: 20px;
      transition: 200ms ease all;
      transform: rotate(-40deg);
    }

    &:hover {
      box-shadow: 0px 4px 16px rgba(0, 0, 0, 0.1);
      svg {
        transform: rotate(0deg);
      }
    }
  }

  &__item-title {
    font-size: 24px;
    margin-top: 16px;
    display: inline-block;
    transition: 200ms ease all;
    &:hover {
      color: #ea570f;
    }
  }
}

.stantions-product {
  background: #f4f4f4;
  position: relative;

  &__container {
    display: flex;
    justify-content: space-between;
    gap: 60px;
    padding: 40px 64px 40px 40px;
  }

  &__info {
    width: 100%;
    max-width: 488px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    gap: 20px;

    .title {
      margin-bottom: 20px;
    }
  }

  &__swiper {
    flex: 1;

    &-slide {
      height: auto !important;
      img {
        max-width: 100%;
      }
    }
  }

  .slider-pagination {
    position: absolute;
    top: calc(50% - 34px);
    z-index: 4;
    left: calc(50% - 664px);

    &__items {
      display: flex;
      flex-direction: column;
      align-items: flex-end;
    }

    .swiper-pagination-bullet {
      width: 12px;
      height: 12px;
      background: transparent;
      opacity: 1;
      margin: 8px 0;
      border-radius: 50%;
      border: 1px solid #ea570f;
      &-active {
        background: #ea570f;
      }
    }
  }
}

.stantions-features {
  background: #f4f4f4;
  padding: 80px 0;
  .title,
  .desc {
    max-width: 656px;
  }
  .title {
    margin-bottom: 16px;
  }

  &__items {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 16px;
    margin-bottom: 80px;
  }
  &__item {
    height: 320px;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    border-radius: 8px;
    margin-top: 40px;
    padding: 32px;
    .num {
      position: relative;
      z-index: 2;
      font-size: 20px;
      color: #fff;
    }
    p {
      position: relative;
      z-index: 2;
      color: #fff;
      font-size: 20px;
      max-width: 400px;
    }
    .img-holder {
      position: absolute;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      border-radius: 8px;
      &::before {
        content: "";
        width: 100%;
        height: 100%;
        left: 0;
        top: 0;
        position: absolute;
        background: linear-gradient(
          180deg,
          rgba(48, 48, 48, 0.24) 24%,
          #303030 100%
        );
        border-radius: 8px;
      }

      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        border-radius: 8px;
      }
    }
  }
}

.s-product-table__title {
  margin-bottom: 40px;
}

.s-product-table {
  max-width: 656px;
  margin-bottom: 24px;
  // border-radius: 4px;
  // border: 1px solid #e6ecef;

  &__name {
    font-weight: 500;
    font-size: 16px;
    margin-bottom: 16px;
  }

  &__item {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: flex-start;
    padding: 12px 16px;
    gap: 16px;
    border: 1px solid #e6ecef;
    &:nth-child(even) {
      background: rgba(230, 236, 239, 0.64);
    }
  }
}

.category-projects--s {
  .category-projects__slide::before {
    content: none;
  }

  .category-projects__slide {
    padding-bottom: 30%;
  }
}

.category-projects--ss {
  padding-bottom: 80px;
}

.bottom-menu {
  position: fixed;
  width: 100%;
  bottom: 20px;
  z-index: 999;
  &__container {
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
  }

  &__items {
    box-shadow: 0px 0px 32px 0px #00000014;
    background: #fff;
    border-radius: 8px;
    display: flex;
    align-items: center;
    padding: 0 16px;
  }

  &__item {
    padding: 16px;
    transition: 200ms ease all;
    &:hover {
      color: #ea570f;
    }
  }
}

.stantions-models--md {
  .stantions-models__items {
    grid-template-columns: repeat(4, 1fr);
    grid-column-gap: 16px;
    grid-row-gap: 32px;
  }

  .stantions-models__item-title {
    font-size: 16px;
  }
}

.stantions-models--offset-top-0 {
  padding-top: 0;
}

.stantions-models .desc {
  color: #5c6467;
  padding-top: 16px;
  max-width: 880px;
}

.product-steps {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 16px;
  padding-bottom: 80px;

  &__items {
    width: 100%;
    max-width: 650px;
    .title {
      margin-bottom: 40px;
    }
  }

  &__item {
    display: flex;
    align-items: flex-start;
    gap: 48px;
    margin-bottom: 32px;
    &:last-child {
      margin-bottom: 0;
    }
  }

  .num {
    font-size: 20px;
    color: #ea570f;
  }

  p {
    font-size: 20px;
  }

  &__img {
    max-width: 100%;
    flex: 1;
    border-radius: 8px;
  }
}

.s-product-table--max {
  max-width: 100%;

  .s-product-table__item {
    grid-template-columns: repeat(4, 1fr);
    gap: 32px;

    &--header {
      font-weight: 500;
      border: none;
    }
  }
}
