.category-banner--stantions {
  padding: 40px;
}
.category-banner--stantions .category-banner__container {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  flex-direction: column;
  padding: 40px;
  height: 360px;
  position: relative;
}
.category-banner--stantions .category-banner__container .category-banner__img {
  position: absolute;
  height: 100%;
  width: 100%;
  border-radius: 8px;
  left: 0;
  top: 0;
}
.category-banner--stantions .category-banner__container .category-banner__img::before {
  content: "";
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  position: absolute;
  left: 0;
  top: 0;
  z-index: 1;
  border-radius: 8px;
}
.category-banner--stantions .category-banner__container .category-banner__img img {
  width: 100%;
  height: 100%;
  border-radius: 8px;
}
.category-banner--stantions .category-banner__container .category-title {
  position: relative;
  z-index: 2;
  color: #fff;
  font-weight: 500;
  font-size: 32px;
  text-transform: uppercase;
}
.category-banner--stantions .category-banner__container .category__desc {
  font-size: 24px;
  color: #fff;
  position: relative;
  z-index: 2;
}

.stantions__brands {
  background: #f4f4f4;
  padding-top: 232px;
  margin-top: -200px;
  padding-bottom: 84px;
}
.stantions__brands-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 16px;
}

.stantions__brand {
  background-color: #fff;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  padding: 32px 32px 0 40px;
  gap: 20px;
  overflow: hidden;
  transition: 200ms ease all;
}
.stantions__brand-header {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  gap: 20px;
  width: 100%;
}
.stantions__brand-link svg {
  transform: rotate(-40deg);
  transition: 200ms ease all;
  width: 24px;
  height: 24px;
}
.stantions__brand-title {
  font-size: 32px;
  font-weight: 500;
  margin-bottom: 12px;
}
.stantions__brand-desc {
  color: #5c6467;
  font-size: 16px;
}
.stantions__brand-info {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  gap: 30px;
  width: 100%;
}
.stantions__brand-info img {
  margin-right: -40px;
  transition: 400ms ease all;
}
.stantions__brand-count {
  color: #ea570f;
  font-size: 16px;
  padding-bottom: 40px;
}
.stantions__brand:hover {
  box-shadow: 0px 4px 16px rgba(0, 0, 0, 0.1);
}
.stantions__brand:hover .stantions__brand-link svg {
  transform: rotate(0deg);
}
.stantions__brand:hover img {
  transform: scale(1.08);
}

.category--stantions .step {
  margin-top: 80px;
}

.category--brand {
  background: #fff;
}
.category--brand .hero {
  height: 520px;
  margin-top: 32px;
}
.category--brand .hero__swiper-wrapper-slide-text {
  padding: 0;
}
.category--brand .hero__swiper-wrapper-slide-text-title {
  font-size: 48px;
  font-weight: 500;
  text-transform: uppercase;
}
.category--brand .hero__swiper-wrapper-slide-text-desc {
  font-size: 32px;
  text-transform: none;
  font-weight: 400;
  display: inline-block;
  margin: 8px 0 32px;
}
.category--brand .hero__btn {
  font-size: 16px;
  text-transform: none;
  line-height: 0;
}
.category--brand .hero__swiper-wrapper-slide {
  padding: 40px;
  border-radius: 8px;
}
.category--brand .slider-pagination__items {
  padding-right: 40px;
}
.category--brand .hero__swiper-wrapper-slide-bg-image,
.category--brand .hero__swiper-wrapper-slide-bg::before {
  border-radius: 8px;
}
.category--brand .step__desc {
  margin-top: 16px;
  margin-bottom: 0;
}
.category--brand .step {
  align-items: center;
}
.category--brand .design-video {
  margin-top: 48px;
  margin-bottom: 80px;
}
.category--brand .catalog-form {
  margin-top: 0;
}
.category--brand .step__item-image {
  border-radius: 8px;
}

.stantions-models {
  padding: 80px 0;
  background: #f4f4f4;
}
.stantions-models .title {
  max-width: 768px;
}
.stantions-models__items {
  margin-top: 48px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-column-gap: 16px;
  grid-row-gap: 40px;
  grid-auto-rows: 1fr;
}
.stantions-models__item {
  display: flex;
  flex-direction: column;
}
.stantions-models__item-holder {
  background: #fff;
  border-radius: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 24px;
  position: relative;
  transition: 200ms ease all;
  flex: 1;
  overflow: hidden;
}
.stantions-models__item-holder img {
  max-width: 100%;
  transition: 400ms ease all;
}
.stantions-models__item-holder svg {
  position: absolute;
  top: 24px;
  right: 24px;
  width: 20px;
  height: 20px;
  transition: 200ms ease all;
  transform: rotate(-40deg);
}
.stantions-models__item-holder:hover {
  box-shadow: 0px 4px 16px rgba(0, 0, 0, 0.1);
}
.stantions-models__item-holder:hover svg {
  transform: rotate(0deg);
}
.stantions-models__item-holder:hover img {
  transform: scale(1.08);
}
.stantions-models__item-title {
  font-size: 24px;
  margin-top: 16px;
  display: inline-block;
  transition: 200ms ease all;
}
.stantions-models__item-title:hover {
  color: #ea570f;
}

.category--product .step {
  grid-column-gap: 50px;
}

.stantions-product {
  background: #f4f4f4;
  position: relative;
}
.stantions-product__container {
  display: flex;
  justify-content: space-between;
  gap: 60px;
  padding: 40px 64px 40px 40px;
}
.stantions-product__info {
  width: 100%;
  max-width: 488px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  gap: 20px;
}
.stantions-product__info .title {
  margin-bottom: 20px;
}
.stantions-product__swiper {
  flex: 1;
  display: flex;
  align-items: center;
}
.stantions-product__swiper-slide {
  height: auto !important;
}
.stantions-product__swiper-slide img {
  max-width: 100%;
}
.stantions-product .slider-pagination {
  position: absolute;
  top: calc(50% - 34px);
  z-index: 4;
  left: 0;
  width: 100%;
}
.stantions-product .slider-pagination__items {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}
.stantions-product .slider-pagination .swiper-pagination-bullet {
  width: 12px;
  height: 12px;
  background: transparent;
  opacity: 1;
  margin: 8px 0;
  border-radius: 50%;
  border: 1px solid #ea570f;
}
.stantions-product .slider-pagination .swiper-pagination-bullet-active {
  background: #ea570f;
}

.stantions-features {
  background: #f4f4f4;
  padding: 80px 0;
}
.stantions-features .title,
.stantions-features .desc {
  max-width: 656px;
}
.stantions-features .title {
  margin-bottom: 16px;
}
.stantions-features__items {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 16px;
  margin-bottom: 80px;
}
.stantions-features__item {
  height: 320px;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  border-radius: 8px;
  margin-top: 40px;
  padding: 32px;
}
.stantions-features__item .num {
  position: relative;
  z-index: 2;
  font-size: 20px;
  color: #fff;
}
.stantions-features__item p {
  position: relative;
  z-index: 2;
  color: #fff;
  font-size: 20px;
  max-width: 400px;
}
.stantions-features__item .img-holder {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  border-radius: 8px;
}
.stantions-features__item .img-holder::before {
  content: "";
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  position: absolute;
  background: linear-gradient(180deg, rgba(48, 48, 48, 0.24) 24%, #303030 100%);
  border-radius: 8px;
}
.stantions-features__item .img-holder img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 8px;
}

.s-product-table__title {
  margin-bottom: 40px;
}

.s-product-table {
  max-width: 656px;
  margin-bottom: 24px;
}
.s-product-table__name {
  font-weight: 500;
  font-size: 16px;
  margin-bottom: 16px;
}
.s-product-table__item {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: flex-start;
  padding: 12px 16px;
  gap: 16px;
  border: 1px solid #e6ecef;
}
.s-product-table__item:nth-child(even) {
  background: rgba(230, 236, 239, 0.64);
}

.category-projects--s .category-projects__slide::before {
  content: none;
}
.category-projects--s .category-projects__slide {
  padding-bottom: 30%;
}

.category-projects--ss {
  padding-bottom: 80px;
}

.bottom-menu {
  position: fixed;
  width: 100%;
  bottom: 20px;
  z-index: 999;
}
.bottom-menu__container {
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
}
.bottom-menu__items {
  box-shadow: 0px 0px 32px 0px rgba(0, 0, 0, 0.0784313725);
  background: #fff;
  border-radius: 8px;
  display: flex;
  align-items: center;
  padding: 0 16px;
}
.bottom-menu__item {
  padding: 16px;
  transition: 200ms ease all;
}
.bottom-menu__item:hover {
  color: #ea570f;
}
.bottom-menu__mob {
  display: none;
}

.stantions-models--md .stantions-models__items {
  grid-template-columns: repeat(4, 1fr);
  grid-column-gap: 16px;
  grid-row-gap: 32px;
}
.stantions-models--md .stantions-models__item-title {
  font-size: 16px;
}

.stantions-models--offset-top-0 {
  padding-top: 0 !important;
}

.stantions-models .desc {
  color: #5c6467;
  padding-top: 16px;
  max-width: 880px;
}

.product-steps {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 16px;
  padding-bottom: 80px;
}
.product-steps__items {
  width: 100%;
  max-width: 650px;
}
.product-steps__items .title {
  margin-bottom: 40px;
}
.product-steps__item {
  display: flex;
  align-items: flex-start;
  gap: 48px;
  margin-bottom: 32px;
}
.product-steps__item:last-child {
  margin-bottom: 0;
}
.product-steps .num {
  font-size: 20px;
  color: #ea570f;
}
.product-steps p {
  font-size: 20px;
}
.product-steps__img {
  max-width: 100%;
  flex: 1;
  border-radius: 8px;
}

.s-product-table--max {
  max-width: 100%;
}
.s-product-table--max .s-product-table__item {
  grid-template-columns: repeat(4, 1fr);
  gap: 32px;
}
.s-product-table--max .s-product-table__item--header {
  font-weight: 500;
  border: none;
}

.step--offset-bottom-0 {
  margin-bottom: 0;
}

.category-projects--sm .category-projects__slide {
  padding-bottom: 36.17%;
}

.stantions-features__items--offset-top-0 {
  margin-top: 40px;
}
.stantions-features__items--offset-top-0 .stantions-features__item {
  margin-top: 0;
}

.bottom-menu__close {
  display: none;
}

.product-steps--wrap {
  flex-wrap: wrap;
}

@media (max-width: 1365px) {
  .stantions__brand-info img {
    max-width: 75%;
  }
  .bottom-menu__container {
    max-width: 100%;
    margin: 0 20px;
  }
  .bottom-menu__mob {
    display: inline-flex;
    align-items: center;
    gap: 8px;
    font-size: 14px;
    font-weight: 500;
    box-shadow: 0px 0px 32px 0px rgba(0, 0, 0, 0.0784313725);
    background: #fff;
    padding: 9px 8px;
    border-radius: 8px;
  }
  .bottom-menu__items {
    display: none;
  }
  .bottom-menu__consult {
    padding: 8px 20px;
    font-size: 14px;
  }
  .bottom-menu__close {
    display: inline-block;
    position: absolute;
    right: 20px;
    top: 20px;
    z-index: 3;
  }
  .bottom-menu--opened .bottom-menu__items {
    display: flex;
    flex-direction: column;
    position: absolute;
    width: calc(100% - 40px);
    left: 20px;
    bottom: 44px;
    align-items: flex-start;
    font-size: 14px;
    padding: 20px;
  }
  .bottom-menu--opened .bottom-menu__item {
    padding: 6px 0;
  }
  .stantions-models--md .stantions-models__items {
    grid-template-columns: repeat(3, 1fr);
  }
}
@media (max-width: 989px) {
  .stantions__brand-info img {
    max-width: 75%;
  }
  .category-banner--stantions {
    padding: 24px;
  }
  .stantions__brands-container {
    grid-template-columns: repeat(1, 1fr);
    grid-gap: 16px;
  }
  .stantions__brands {
    margin-top: -220px;
    padding-bottom: 64px;
  }
  .stantions__brand {
    gap: 4px;
  }
  .category--stantions .step,
  .category--brand .step {
    grid-template-columns: repeat(1, 1fr);
    grid-gap: 40px;
  }
  .category--stantions .step .step__item,
  .category--brand .step .step__item {
    width: 100%;
  }
  .category--stantions .step .step__desc,
  .category--brand .step .step__desc {
    margin-bottom: 0;
  }
  .category--stantions .step .step__item-image,
  .category--brand .step .step__item-image {
    width: 100%;
  }
  .category-projects--sm .category-projects__slide {
    padding-bottom: 41%;
  }
  .step--reverse {
    display: flex;
    flex-direction: column-reverse;
  }
  .stantions-models__items {
    grid-template-columns: repeat(2, 1fr);
  }
  .stantions-product__container {
    padding: 80px 0 40px 0;
    position: relative;
  }
  .stantions-product__container .back-link {
    position: absolute;
    top: 40px;
    left: 0;
    z-index: 2;
  }
  .stantions-product__swiper {
    max-height: 590px;
  }
  .s-product-table {
    max-width: 100%;
  }
  .stantions-product__container {
    flex-direction: column-reverse;
    gap: 32px;
  }
  .stantions-product__info {
    max-width: 100%;
  }
  .stantions-models--md .stantions-models__items {
    grid-template-columns: repeat(2, 1fr);
  }
  .product-steps--wrap {
    gap: 40px;
  }
  .product-table__container {
    overflow: auto;
    padding: 0 !important;
  }
  .s-product-table--max {
    min-width: 630px;
  }
}
@media (max-width: 767px) {
  .category-banner--stantions .category-banner__container .category-title {
    font-size: 24px;
  }
  .category-banner--stantions .category-banner__container .category__desc {
    font-size: 18px;
  }
  .category-banner--stantions {
    padding: 0;
  }
  .category-banner--stantions .category-banner__container .category-banner__img::before {
    border-radius: 0;
  }
  .category-banner--stantions .category-banner__container .category-banner__img {
    border-radius: 0;
  }
  .category-banner--stantions .category-banner__container .category-banner__img img {
    border-radius: 0;
  }
  .stantions__brands {
    margin-top: -200px;
    padding-bottom: 32px;
  }
  .stantions__brand {
    padding: 20px 20px 0 20px;
  }
  .stantions__brand-title {
    font-size: 24px;
  }
  .stantions__brand-desc {
    font-size: 14px;
  }
  .stantions__brand-count {
    font-size: 14px;
    padding-bottom: 20px;
  }
  .category--stantions .step,
  .category--brand .step {
    margin-top: 64px;
    gap: 24px;
  }
  .category--stantions .step .step__desc,
  .category--brand .step .step__desc {
    margin-top: 16px;
  }
  .category-projects--sm .category-projects__slide {
    padding-bottom: 100%;
  }
  .category-banner--stantions .category-banner__container {
    padding: 32px 20px;
  }
  .category--brand .hero {
    height: 360px;
    width: calc(100% + 40px);
    margin-left: -20px;
  }
  .category--brand .hero .slider-pagination {
    display: none;
  }
  .category--brand .hero__swiper-wrapper-slide {
    border-radius: 0;
    padding: 20px 20px 32px;
  }
  .category--brand .hero__swiper-wrapper-slide-text-desc {
    font-size: 18px;
    margin-bottom: 16px;
  }
  .category--brand .hero__swiper-wrapper-slide-text-title {
    font-size: 32px;
  }
  .category--brand .design-video {
    margin-bottom: 64px;
  }
  .stantions-models {
    padding: 56px 0;
  }
  .stantions-models__item-title {
    font-size: 18px;
  }
  .stantions-models__items {
    grid-template-columns: repeat(1, 1fr);
    grid-gap: 20px;
  }
  .stantions-features__items {
    grid-template-columns: repeat(1, 1fr);
    grid-gap: 8px;
  }
  .stantions-features__item {
    min-height: 160px;
    height: auto;
    padding: 16px;
    gap: 40px;
  }
  .stantions-features__item .num {
    font-size: 18px;
  }
  .stantions-features__item p {
    font-size: 18px;
  }
  .category-projects--s .category-projects__slide {
    padding-bottom: 60%;
  }
  .stantions-product__container .back-link {
    font-size: 14px;
  }
  .stantions-product .slider-pagination__items {
    padding-right: 0;
  }
  .stantions-models--md .stantions-models__items {
    grid-template-columns: repeat(1, 1fr);
  }
}
@media (max-width: 480px) {
  .stantions-models__item-holder {
    max-height: 200px;
  }
}/*# sourceMappingURL=stantions.css.map */